.dashboard .chat table {
  border-collapse:collapse;
  width:100%;
}

.dashboard .chat table .avatar {
  width: 1px;
}

.dashboard .chat table td {
  padding: 4px 10px;
}

.dashboard .chat table tr:nth-child(odd)  {
  background-color:#f1f1f1;
}

.dashboard .chat table tr:nth-child(even) {
  background-color:#ffffff;
}

.dashboard .chat table th {
  color:#ffffff;
  background-color:#555555;
  border:1px solid #555555;
  padding:3px;
  vertical-align:top;
  text-align:left;
}

